{% extends "layout.html" %}

{% block title %}
    Employee Login
{% endblock %}

{% block main %}

    <!-- set up the login form, and link the python page used to evaluate the form ,
    more info: https://wtforms.readthedocs.io/en/stable/crash_course.html-->
    <form method="POST" action="{{ url_for('begin') }}" class="mt-5">

        <img src="/static/sagerlogo.png" alt="logo" width="230" height="100" class="mb-2">

        <!-- holder to enter the employee ID -->
        <div class="form-group mt-2">
            {{ form.employee_id_wtf(autofocus=true, class="form-control") }}
        </div>

        <!-- holder for error messages, but only display them, if there was actually an incorrect preceding form submission -->
        {% if form.employee_id_wtf.errors and not first_load %}
            <p class="errors">{% for error in form.employee_id_wtf.errors %}{{ error }}<br>{% endfor %}</p>
        {% endif %}

        <!-- holder to enter the rf scanner ID -->
        <div class="form-group">
            {{ form.rf_scanner_id_wtf(class="form-control") }}
        </div>

        <!-- holder for error messages, but only display them, if there was actually an incorrect preceding form submission -->
        {% if form.rf_scanner_id_wtf.errors and not first_load %}
            <p class="errors">{% for error in form.rf_scanner_id_wtf.errors %}{{ error }}<br>{% endfor %}</p>
        {% endif %}

        <!-- holder to enter the distribution center ID -->
        <div class="form-group">
            {{ form.dc_id(class="form-control") }}
        </div>

        <!-- holder for error messages, but only display them, if there was actually an incorrect preceding form submission -->
        {% if form.dc_id.errors and not first_load %}
            <p class="errors">{% for error in form.dc_id.errors %}{{ error }}<br>{% endfor %}</p>
        {% endif %}

        {% if not connection %}
            <p class="errors">No connection to the databases could be established</p>
        {% endif %}

        {% if retrieval_error %}
            <p class="errors">We could establish a database connection, but there was an error retrieving your data</p>
        {% endif %}

        {% if gen_error %}
            <p class="errors">There has been a general error, please check the command window</p>
        {% endif %}

        {% if ID_not_found %}
            <p class="errors">Your credentials are invalid</p>
        {% endif %}

        <!-- submit button -->
        <div class="form-group">
            <button class="btn btn-dark btn-lg" type="submit" >Log In</button>
        </div>

        <p class="mt-4 text-muted"> ES96 Harvard SEAS 2020</p>

    </form>

{% endblock %}
