/* General */
main .form-control {
    display: inline-block; /* center form controls */
    width: auto; /* override Bootstrap's 100% width for form controls */
}

main {
    overflow-x: auto; /* scroll horizontally as needed */
    text-align: center; /* center contents */
}

@font-face {
  font-family: SagerFont;
  src: url('Avalon.ttf');
}

/* for layout.html */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* for begin.html */
.errors {
    display: block;
    text-align: center;
    color: red;
    font-size: 15px;
    font-weight: bold;
}

/* for count.html */

td {
    border: 1px #244186;
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.count_titles {
    text-align: center;
    color: #244186;
    font-size: 23px;
    font-weight: bold;
    font-family: SagerFont;
}

.counts {
    font-size: 20px;
}

.confirm_tare {
    font-size: 18px;
    font-weight: bold;
}

/* css for java generated html elements */

.count_incomplete{
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.count_over{
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.count_right{
    font-size: 18px;
    font-weight: bold;
    color: #19A044;
}

.count_low{
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.stop_check{
    font-size: 18px;
    font-weight: bold;
}






