/* css for layout.html */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* css for begin.html */
.errors {
    text-align: center;
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.form-login {
  max-width: 330px;
  padding: 35px;
  margin: auto;
}

/* css for enter_barcode.html */


/* css for count.html */
td {
    font-size: 16px;
    color: #666666;
    text-align: center;
}

table { /* get table styles from http://divtable.com/table-styler/ */
    width: 40%;
}

#overview_text {
  text-align: center;
  color: navy;
  font-size: 22px;
  font-weight: bold;
}

.count_text {
    text-align: center;
    color: navy;
    font-size: 22px;
    font-weight: bold;
}

.confirm_tare_label {
    font_size: 18px;
    text-align: left;
}


/* General */
main .form-control {
    display: inline-block; /* center form controls */
    width: auto; /* override Bootstrap's 100% width for form controls */
}

main {
    overflow-x: auto; /* scroll horizontally as needed */
    text-align: center; /* center contents */
}

#logoutlink {
  color: navy;
  font-size: 18px;
  font-weight: bold;
}

/*button.sager {
    background-color: #015C9F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/



