{% extends "layout.html" %}

{% block title %}
    Employee Login
{% endblock %}

{% block main %}

<!-- create a form that has two text form inputs and a submit button -->
    <form method="POST" action="{{ url_for('begin') }}" class="login mt-5">

        <a class="center mb-2" href="#"><img src="/static/sagerlogo.png" alt="logo" width="230" height="100"></a>

        <div class="form-group mt-2">
            {{ form.employee_id_wtf.label }}: {{ form.employee_id_wtf(autofocus=true, class="form-group") }}
        </div>

        {% if form.employee_id_wtf.errors and not first_load %}
            <ul style="list-style-type:none" class="errors">{% for error in form.employee_id_wtf.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div class="form-group">
            {{ form.rf_scanner_id_wtf.label }}: {{ form.rf_scanner_id_wtf(autofocus=true, class="form-group") }}
        </div>

        {% if form.rf_scanner_id_wtf.errors and not first_load %}
            <ul style="list-style-type:none" class="errors">{% for error in form.rf_scanner_id_wtf.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div class="form-group">
            <button class="btn btn-dark btn-lg" type="submit" name="count_type" value="manual">Log In</button>
        </div>

        <p class="mt-4 text-muted"> ES96 Harvard SEAS &copy; 2020</p>

    </form>

{% endblock %}
