{% extends "layout.html" %}

{% block title %}
    Enter Barcode
{% endblock %}

<!-- create a form that has two text form inputs and a submit button -->
{% block main %}
    <form action="{{ url_for('enter_product_number') }}" method="post">
        <fieldset>
            <div class="form-group mt-4">
                <input autocomplete="off" autofocus class="form-control" name="barcode" placeholder="Enter Barcode" type="number"/>
            </div>

            <p> OR include the product barcode, product weight and target count </p>

            <div class="form-group mt-4">
                <input autocomplete="off" autofocus class="form-control" name="barcode_manual" placeholder="Enter Barcode" type="number"/>
            </div>

            <div class="form-group mt-4">
                <input autocomplete="off" autofocus class="form-control" name="product_weight" placeholder="Enter Product Weight" type="text"/>
            </div>

            <label for="unit">Choose a Unit:</label>
            <select id="unit" name="weight_unit">
              <option value="g">gram</option>
              <option value="kg">kilogram</option>
              <option value="oz">ounce</option>
              <option value="lbs">pound</option>
            </select>

            <div class="form-group mt-2">
                <input autocomplete="off" autofocus class="form-control" name="target_count" placeholder="Enter Target Count" type="number"/>
            </div>

            <div class="form-group">
                <button class="btn btn-dark" type="submit">Start Counting</button>
            </div>
        </fieldset>
    </form>
{% endblock %}