{% extends "layout.html" %}

<!-- app's own JavaScript -->
{% block javascript %}
<script src="{{ url_for('static', filename='setup_count.js') }}"></script>
{% endblock %}

{% block title %}
    Enter Barcode
{% endblock %}

<!-- create two separate forms, one for order retrieval and one for a manual input -->
{% block main %}
    <p></p>

    <!-- text input field for the license plate, typeahead for this field-->
    <div class="form-group">
        <input id="q" class="form-control" autocomplete="off" autofocus="true" placeholder="Enter license plate # and select">
    </div>

    <!--retrieve orders containing this license plate button -->
    <div class="form-group">
        <button class="btn btn-dark" id="get_task_ids" onclick="get_task_ids()">Retrieve orders containing this license plate</button>
    </div>

    <!-- holder for the table with potential orders -->
    <div class="row mt-3 mb-2">
        <div class="col-lg-6 center">
            <div id="table_holder"> </div>
        </div>
    </div>

    <p></p>
    <!-- display message if no errors are available for this user, no connection is available, or other errors occurred -->
    <div id="errors">
        {% if no_orders %}
            <p class="errors">You have no current orders assigned</p>
        {% endif %}

        {% if database_connection_unavailable %}
            <p class="errors">No connection to the databases could be established</p>
        {% endif %}

        {% if data_base_retrieval_error %}
            <p class="errors">We could connect to the databases, but couldn't get your data</p>
        {% endif %}

        {% if general_order_error %}
            <p class="errors">There has been an error retrieving your order</p>
        {% endif %}

        {% if wms_submit_error %}
            <p class="errors">There has been an error submitting your last completed order to the WMS</p>
        {% endif %}

        {% if both_forms_filled_out %}
            <p class="errors">Please fill out only one of the forms</p>
        {% endif %}

        {% if all_order_retrieval_error %}
            <p class="errors">There has been an error retrieving the orders assigned to your location</p>
        {% endif %}
    </div>

    <!-- set up form for retrieval, that will be submitted by the javascript-->
    <form action="{{ url_for('setup_count') }}" method="post" class="p-2 mt-4" id="retrieve_order_form">
        <!-- holder for the confirmation checkbox -->
        <div id="confirmation_quantity"></div>
    </form>

    <!-- create a separate form for manual submission, indicated by the value on the submit button which is "manual" -->
    <form action="{{ url_for('setup_count') }}" method="post">
        <fieldset>
            <p class="count_titles"> Manual Input</p>

            <!-- create inputs linked to the wtforms setup in python and show any errors,
            more info: https://wtforms.readthedocs.io/en/stable/crash_course.html -->
            <div class="form-group">{{ manual_form.product_weight(class="form-control") }}</div>
            {% if manual_form.product_weight.errors and not first_load %}
                <p class="errors">{% for error in manual_form.product_weight.errors %}{{ error }}<br>{% endfor %}</p>
            {% endif %}

            <div class="form-group">{{ manual_form.target_count(class="form-control") }}</div>
            {% if manual_form.target_count.errors and not first_load %}
                <p class="errors">{% for error in manual_form.target_count.errors %}{{ error }}<br>{% endfor %}</p>
            {% endif %}

            <div class="form-group">{{ manual_form.weight_unit.label }}: {{ manual_form.weight_unit(class="form-group") }}</div>
            {% if manual_form.weight_unit.errors and not first_load %}
                <p class="errors">{% for error in manual_form.weight_unit.errors %}{{ error }}<br>{% endfor %}</p>
            {% endif %}

            <!-- create submit button, indicating that the count_type is manual -->
            <div class="form-group">
                <button class="btn btn-dark" type="submit" name="count_type" value="manual">Start Counting using Manual Input</button>
            </div>
        </fieldset>
    </form>

{% endblock %}